* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class*="col-"] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}
.col-1  {   flex-basis: calc((100% / 12) *  1); max-width: calc((100% / 12) *  1);  }
.col-2  {   flex-basis: calc((100% / 12) *  2); max-width: calc((100% / 12) *  2);  }
.col-3  {   flex-basis: calc((100% / 12) *  3); max-width: calc((100% / 12) *  3);  }
.col-4  {   flex-basis: calc((100% / 12) *  4); max-width: calc((100% / 12) *  4);  }
.col-5  {   flex-basis: calc((100% / 12) *  5); max-width: calc((100% / 12) *  5);  }
.col-6  {   flex-basis: calc((100% / 12) *  6); max-width: calc((100% / 12) *  6);  }
.col-7  {   flex-basis: calc((100% / 12) *  7); max-width: calc((100% / 12) *  7);  }
.col-8  {   flex-basis: calc((100% / 12) *  8); max-width: calc((100% / 12) *  8);  }
.col-9  {   flex-basis: calc((100% / 12) *  9); max-width: calc((100% / 12) *  9);  }
.col-10 {   flex-basis: calc((100% / 12) * 10); max-width: calc((100% / 12) *  10); }
.col-11 {   flex-basis: calc((100% / 12) * 11); max-width: calc((100% / 12) *  11); }
.col-12 {   flex-basis: calc((100% / 12) * 12); max-width: calc((100% / 12) *  12); }


/*************************************/
/******* SM RESPONSIVE: TABLET  *******/
@media screen and (min-width: 480px) {
    .col-SM-1  {   flex-basis: calc((100% / 12) *  1); max-width: calc((100% / 12) *  1);  }
    .col-SM-2  {   flex-basis: calc((100% / 12) *  2); max-width: calc((100% / 12) *  2);  }
    .col-SM-3  {   flex-basis: calc((100% / 12) *  3); max-width: calc((100% / 12) *  3);  }
    .col-SM-4  {   flex-basis: calc((100% / 12) *  4); max-width: calc((100% / 12) *  4);  }
    .col-SM-5  {   flex-basis: calc((100% / 12) *  5); max-width: calc((100% / 12) *  5);  }
    .col-SM-6  {   flex-basis: calc((100% / 12) *  6); max-width: calc((100% / 12) *  6);  }
    .col-SM-7  {   flex-basis: calc((100% / 12) *  7); max-width: calc((100% / 12) *  7);  }
    .col-SM-8  {   flex-basis: calc((100% / 12) *  8); max-width: calc((100% / 12) *  8);  }
    .col-SM-9  {   flex-basis: calc((100% / 12) *  9); max-width: calc((100% / 12) *  9);  }
    .col-SM-10 {   flex-basis: calc((100% / 12) * 10); max-width: calc((100% / 12) *  10);  }
    .col-SM-11 {   flex-basis: calc((100% / 12) * 11); max-width: calc((100% / 12) *  11);  }
    .col-SM-12 {   flex-basis: calc((100% / 12) * 12); max-width: calc((100% / 12) *  12);  }
}
/**************************************/
/******* MD RESPONSIVE: TABLET   *******/
@media screen and (min-width: 768px) {
    .col-MD-1  {   flex-basis: calc((100% / 12) *  1); max-width: calc((100% / 12) *  1);  }
    .col-MD-2  {   flex-basis: calc((100% / 12) *  2); max-width: calc((100% / 12) *  2);  }
    .col-MD-3  {   flex-basis: calc((100% / 12) *  3); max-width: calc((100% / 12) *  3);  }
    .col-MD-4  {   flex-basis: calc((100% / 12) *  4); max-width: calc((100% / 12) *  4);  }
    .col-MD-5  {   flex-basis: calc((100% / 12) *  5); max-width: calc((100% / 12) *  5);  }
    .col-MD-6  {   flex-basis: calc((100% / 12) *  6); max-width: calc((100% / 12) *  6);  }
    .col-MD-7  {   flex-basis: calc((100% / 12) *  7); max-width: calc((100% / 12) *  7);  }
    .col-MD-8  {   flex-basis: calc((100% / 12) *  8); max-width: calc((100% / 12) *  8);  }
    .col-MD-9  {   flex-basis: calc((100% / 12) *  9); max-width: calc((100% / 12) *  9);  }
    .col-MD-10 {   flex-basis: calc((100% / 12) * 10); max-width: calc((100% / 12) *  10);  }
    .col-MD-11 {   flex-basis: calc((100% / 12) * 11); max-width: calc((100% / 12) *  11);  }
    .col-MD-12 {   flex-basis: calc((100% / 12) * 12); max-width: calc((100% / 12) *  12);  }
}
/******************************************/
/******* LG - RESPONSIVE: DEKSTOP   *******/
@media screen and (min-width: 992px) {
    .col-LG-1  {   flex-basis: calc((100% / 12) *  1); max-width: calc((100% / 12) *  1);  }
    .col-LG-2  {   flex-basis: calc((100% / 12) *  2); max-width: calc((100% / 12) *  2);  }
    .col-LG-3  {   flex-basis: calc((100% / 12) *  3); max-width: calc((100% / 12) *  3);  }
    .col-LG-4  {   flex-basis: calc((100% / 12) *  4); max-width: calc((100% / 12) *  4);  }
    .col-LG-5  {   flex-basis: calc((100% / 12) *  5); max-width: calc((100% / 12) *  5);  }
    .col-LG-6  {   flex-basis: calc((100% / 12) *  6); max-width: calc((100% / 12) *  6);  }
    .col-LG-7  {   flex-basis: calc((100% / 12) *  7); max-width: calc((100% / 12) *  7);  }
    .col-LG-8  {   flex-basis: calc((100% / 12) *  8); max-width: calc((100% / 12) *  8);  }
    .col-LG-9  {   flex-basis: calc((100% / 12) *  9); max-width: calc((100% / 12) *  9);  }
    .col-LG-10 {   flex-basis: calc((100% / 12) * 10); max-width: calc((100% / 12) *  10);  }
    .col-LG-11 {   flex-basis: calc((100% / 12) * 11); max-width: calc((100% / 12) *  11);  }
    .col-LG-12 {   flex-basis: calc((100% / 12) * 12); max-width: calc((100% / 12) *  12);  }
}
/************************************************/
/******* XG - RESPONSIVE: LARGE DEKSTOP   *******/
@media screen and (min-width: 1201px) {
    .col-XG-1  {   flex-basis: calc((100% / 12) *  1); max-width: calc((100% / 12) *  1);  }
    .col-XG-2  {   flex-basis: calc((100% / 12) *  2); max-width: calc((100% / 12) *  2);  }
    .col-XG-3  {   flex-basis: calc((100% / 12) *  3); max-width: calc((100% / 12) *  3);  }
    .col-XG-4  {   flex-basis: calc((100% / 12) *  4); max-width: calc((100% / 12) *  4);  }
    .col-XG-5  {   flex-basis: calc((100% / 12) *  5); max-width: calc((100% / 12) *  5);  }
    .col-XG-6  {   flex-basis: calc((100% / 12) *  6); max-width: calc((100% / 12) *  6);  }
    .col-XG-7  {   flex-basis: calc((100% / 12) *  7); max-width: calc((100% / 12) *  7);  }
    .col-XG-8  {   flex-basis: calc((100% / 12) *  8); max-width: calc((100% / 12) *  8);  }
    .col-XG-9  {   flex-basis: calc((100% / 12) *  9); max-width: calc((100% / 12) *  9);  }
    .col-XG-10 {   flex-basis: calc((100% / 12) * 10); max-width: calc((100% / 12) *  10);  }
    .col-XG-11 {   flex-basis: calc((100% / 12) * 11); max-width: calc((100% / 12) *  11);  }
    .col-XG-12 {   flex-basis: calc((100% / 12) * 12); max-width: calc((100% / 12) *  12);  }
}



/************************************************/
/******* COL - OFFSET  *******/
.col-offset-1  { margin-left: calc((100% / 12) * 1);  }
.col-offset-2  { margin-left: calc((100% / 12) * 2);  }
.col-offset-3  { margin-left: calc((100% / 12) * 3);  }
.col-offset-4  { margin-left: calc((100% / 12) * 4);  }
.col-offset-5  { margin-left: calc((100% / 12) * 5);  }
.col-offset-6  { margin-left: calc((100% / 12) * 6);  }
.col-offset-7  { margin-left: calc((100% / 12) * 7);  }
.col-offset-8  { margin-left: calc((100% / 12) * 8);  }
.col-offset-9  { margin-left: calc((100% / 12) * 9);  }
.col-offset-10 { margin-left: calc((100% / 12) * 10); }
.col-offset-11 { margin-left: calc((100% / 12) * 11); }
.col-offset-12 { margin-left: calc((100% / 12) * 12); }

/*************************************/
/******* SM RESPONSIVE: TABLET  *******/
@media screen and (min-width: 480px) {
    .col-offset-sm-1  { margin-left: calc((100% / 12) * 1);  }
    .col-offset-sm-2  { margin-left: calc((100% / 12) * 2);  }
    .col-offset-sm-3  { margin-left: calc((100% / 12) * 3);  }
    .col-offset-sm-4  { margin-left: calc((100% / 12) * 4);  }
    .col-offset-sm-5  { margin-left: calc((100% / 12) * 5);  }
    .col-offset-sm-6  { margin-left: calc((100% / 12) * 6);  }
    .col-offset-sm-7  { margin-left: calc((100% / 12) * 7);  }
    .col-offset-sm-8  { margin-left: calc((100% / 12) * 8);  }
    .col-offset-sm-9  { margin-left: calc((100% / 12) * 9);  }
    .col-offset-sm-10 { margin-left: calc((100% / 12) * 10); }
    .col-offset-sm-11 { margin-left: calc((100% / 12) * 11); }
    .col-offset-sm-12 { margin-left: calc((100% / 12) * 12); }
}
/**************************************/
/******* MD RESPONSIVE: TABLET   *******/
@media screen and (min-width: 768px) {
    .col-offset-md-1  { margin-left: calc((100% / 12) * 1);  }
    .col-offset-md-2  { margin-left: calc((100% / 12) * 2);  }
    .col-offset-md-3  { margin-left: calc((100% / 12) * 3);  }
    .col-offset-md-4  { margin-left: calc((100% / 12) * 4);  }
    .col-offset-md-5  { margin-left: calc((100% / 12) * 5);  }
    .col-offset-md-6  { margin-left: calc((100% / 12) * 6);  }
    .col-offset-md-7  { margin-left: calc((100% / 12) * 7);  }
    .col-offset-md-8  { margin-left: calc((100% / 12) * 8);  }
    .col-offset-md-9  { margin-left: calc((100% / 12) * 9);  }
    .col-offset-md-10 { margin-left: calc((100% / 12) * 10); }
    .col-offset-md-11 { margin-left: calc((100% / 12) * 11); }
    .col-offset-md-12 { margin-left: calc((100% / 12) * 12); }
}
/******************************************/
/******* LG - RESPONSIVE: DEKSTOP   *******/
@media screen and (min-width: 992px) {
    .col-offset-lg-1  { margin-left: calc((100% / 12) * 1);  }
    .col-offset-lg-2  { margin-left: calc((100% / 12) * 2);  }
    .col-offset-lg-3  { margin-left: calc((100% / 12) * 3);  }
    .col-offset-lg-4  { margin-left: calc((100% / 12) * 4);  }
    .col-offset-lg-5  { margin-left: calc((100% / 12) * 5);  }
    .col-offset-lg-6  { margin-left: calc((100% / 12) * 6);  }
    .col-offset-lg-7  { margin-left: calc((100% / 12) * 7);  }
    .col-offset-lg-8  { margin-left: calc((100% / 12) * 8);  }
    .col-offset-lg-9  { margin-left: calc((100% / 12) * 9);  }
    .col-offset-lg-10 { margin-left: calc((100% / 12) * 10); }
    .col-offset-lg-11 { margin-left: calc((100% / 12) * 11); }
    .col-offset-lg-12 { margin-left: calc((100% / 12) * 12); }
}
/************************************************/
/******* XG - RESPONSIVE: LARGE DEKSTOP   *******/
@media screen and (min-width: 1201px) {
    .col-offset-xg-1  { margin-left: calc((100% / 12) * 1);  }
    .col-offset-xg-2  { margin-left: calc((100% / 12) * 2);  }
    .col-offset-xg-3  { margin-left: calc((100% / 12) * 3);  }
    .col-offset-xg-4  { margin-left: calc((100% / 12) * 4);  }
    .col-offset-xg-5  { margin-left: calc((100% / 12) * 5);  }
    .col-offset-xg-6  { margin-left: calc((100% / 12) * 6);  }
    .col-offset-xg-7  { margin-left: calc((100% / 12) * 7);  }
    .col-offset-xg-8  { margin-left: calc((100% / 12) * 8);  }
    .col-offset-xg-9  { margin-left: calc((100% / 12) * 9);  }
    .col-offset-xg-10 { margin-left: calc((100% / 12) * 10); }
    .col-offset-xg-11 { margin-left: calc((100% / 12) * 11); }
    .col-offset-xg-12 { margin-left: calc((100% / 12) * 12); }
}
    


