/********************************/
/******* XS MOBILE FIRST  *******/


/* GENERICI */


/* HEADER  */


/* MAIN CONTENT  */


/* FOOTER  */


/*************************************/
/******* SM RESPONSIVE: TABLET  *******/
@media screen and (max-width: 480px) {

    /* GENERICI */

    /* HEADER  */
    
    
    /* MAIN CONTENT  */
    
    
    /* FOOTER  */
}




/**************************************/
/******* MD RESPONSIVE: TABLET   *******/
@media screen and (min-width: 576px) and (max-width: 767px) {
 
    
    
    /* GENERICI */
    
    
    /* HEADER  */
    
    
    /* MAIN CONTENT  */
    
    
    /* FOOTER  */
    
}


/******************************************/
/******* LG - RESPONSIVE: DEKSTOP   *******/
@media screen and (min-width: 768px) and (max-width: 991px) {

    
    
    /* GENERICI */
    
    
    /* HEADER  */
    
    
    /* MAIN CONTENT  */
    
    
    /* FOOTER  */
    
}


/************************************************/
/******* XG - RESPONSIVE: LARGE DEKSTOP   *******/
@media screen and (min-width: 992px) {

    
    
    /* GENERICI */
    .box {
        height: 3rem;
    }
    .box-2 {
        height: 4.5rem;
    }
    .box-3{
        height: 3rem;
        border: 1px solid white;
        margin-top: 2rem;
    }

    
    .box div {
        border: 1px solid white;
    }
    .box-2 > div {
        border: 1px solid white;
    }

    .box-2 > div > div {
        border: 1px solid #006cfa;
    }


    
    /* HEADER  */
    
    
    
    /* MAIN CONTENT  */
    
    
    /* FOOTER  */
    
}
